[submodule "user-manage"]
	path = user-manage
	url = D:/Codigos/BACKENNDD/user-manage
[submodule "multiservice-system"]
	path = multiservice-system
	url = https://github.com/EstebanGC/multiservice-system.git
